In [1]:
import pymssql

In [22]:
conn = pymssql.connect(
    host='localhost',
    user='young',
    password='young',
    database='BookingDB',
    charset='big5'
)

In [23]:
cursor = conn.cursor(as_dict=True)
cursor.execute('SELECT * FROM [BookingDB].[dbo].[Restaurant]')

for row in cursor:
    print(' %s, %s' % (row['rName'], row['rPhone']))

 台北店, 90938393
 桃園店, 48924783
 台中店, 37489327